body{
    background-color: rgb(238, 227, 227);
    margin-left: 400px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: x-large;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
}

#main{
    background-color: white;
    height: 600px;
    width: 600px;
    padding: 10px;
    margin-top: 5%;
    margin-left: 200px;
}

#div1{
    
    height: 600px;
    width: 260px;
    margin-left: 10px;
}

#div2{
    
    margin-left: 330px;
    margin-top: -600px;
    height: 600px;
    width: 260px;
}


.Img-bot{
    margin-top: px;
}

img{
    height: 250px;
    width: 250px;
    border: solid 5px;
}

p{
    font-family: "Noto Sans Mono", monospace;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}

